<%= render 'books/header', books: @books %>

<div class='body'>
  <div class='container'>
      	<h2>User info</h2>

  <div id="error_explanation">
<% if @user.errors.any? %>
    <ul>
          <h3><%= @user.errors.count %>errors prohibited this obj from being saved:</h3>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
  </div>

  <div class="field">
    <%= form_for(@user) do |f| %>
    <label for="user_name">Name</label>
   	<%= f.text_field :username, autofocus: true, id:"inputEmail", placeholder: "username", class: 'name' %>
    </div>

  <div class="field">
    <label for="user_name">Image</label>
    <%= f.attachment_field :profile_image, autofocus: true, id:"inputEmail", placeholder: "image", class: 'user_image' %>
   </div>

  <div class="field">
    <label for="user_introduction">Introduction</label>
    <%= f.text_area :introduction, autofocus: true, id:"inputEmail", class: 'introduction' %>
  </div>

<%= f.submit "Update User" %>
<% end %>

</div>
</div>
    <footer>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-3 col-xs-offset-9'>
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>