<%= render 'books/header', books: @books %>

<div class='body'>
  <div class='container'>
    <div class="col-lg-3">
      <br>
        <p id="notice"></p>

<h3>User info</h3>

<div class="profile-container">
  <table class='table'>
    <tr>
       <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, fallback: "sample-author1.jpg" %>
    </tr>
    <tr>
        <th>name</th>
        <th>
          <%= current_user.name %>
        </th>
      <tr>
        <th>introduction</th>
        <th>
          <%= current_user.introduction %>
        </th>
      </tr>
</table>

<div class='row'>
        <p><%= link_to "", edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_1282" %>
</div>

</div>

<h3>New book</h3>
<!-- form_for部分 -->
<%= form_for(@book) do |f| %>

<div class="field row">
<label for="user_name">Title</label>
<%= f.text_field :title, class: "col-xs-12 book_body" %>
</div>

<div class="field row">
<label for="user_name">Opinion</label>
<%= f.text_area :body, class: "col-xs-12 book_body" %>
</div>

<div class="field row">
<%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
<% end %>
</div>

</div>

<div class="col-lg-9">
  <br>
  <p id="notice"></p>

<h2>Book detail</h2>

	<table class='table'>
		<tr>
    	<td><%= attachment_image_tag current_user, :profile_image, size: "40x40", format: 'jpeg', fallback: "sample-author1.jpg" %><br><%= current_user.name %></td>
    	<td><%= @book_params.title %></td>
    	<td><%= @book_params.body %></td>
    </tr>
    </table>

  </div>
</div>
</div>
</div>




    <footer>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-3 col-xs-offset-9'>
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>