<%= render 'books/header', books: @books %>

<%= render 'books/profile', books: @books %>

<div class="col-lg-9">

<h2>Book detail</h2>

	<table class='table'>
		<tr>
    	<td><%= attachment_image_tag current_user, :profile_image, size: "100x100", format: 'jpeg', fallback: "sample-author1.jpg" %><br><%= link_to "#{current_user.name}", "#{user_path(current_user.id)}" %></td>
    	<td><%= @book_params.title %></td>
    	<td><%= @book_params.body %></td>
      <% if @book_params.user == current_user %>
      <td>
    <%= link_to "Edit", edit_book_path(@book_params), class: 'btn-sm btn-success edit_book_#{book.id}' %></td>
      <td><%= link_to "Destroy", book_path(@book_params), method: :delete, "data-confirm" => "Are you sure?", class: 'btn-sm btn-danger destroy_book_#{book.id}' %></td>
      <% end %>
    </tr>
    </table>
  </div>
</div>
</div>
</div>

    <footer>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-3 col-xs-offset-9'>
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>